<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="iisnode" path="lib/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="node-application">
          <action type="Rewrite" url="lib/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode gracefulShutdownTimeout="3000" />
  </system.webServer>
</configuration>