<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="node-application" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="node-application">
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>